---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import MainAdmin from "@layouts/MainAdmin.astro";
import { Image } from "astro:assets";

if (!Astro.locals.user || Astro.locals.user.role !== "admin") {
  return Astro.redirect("/");
}

const organizers = await getCollection("organizer");
const organizerId = Number(Astro.url.searchParams.get("organizerId"));
const editingOrganizer = organizers?.find(
  organizerItem => organizerItem.data.id === organizerId
);
console.log("editingOrganizer", editingOrganizer);
console.log("organizers", organizers);
---

<Layout>
  <Header activeNav="admin" />
  <MainAdmin activeNav="organizers">
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4">
          <wa-select id="organizer-item" label="Organizer" value={organizerId}>
            {
              organizers?.map(organizerItem => (
                <wa-option
                  value={organizerItem.data.id}
                  selected={organizerItem.data.id === organizerId}
                >
                  {organizerItem.data.name}
                </wa-option>
              ))
            }
          </wa-select>
        </div>
      </div>
      {
        organizerId > 0 && (
          <div class="flex gap-8">
            <div class="flex flex-col gap-4 w-1/2">
              <h2 class="text-2xl">Update details</h2>
              <form class="flex flex-col gap-4">
                <wa-input
                  label="Name"
                  name="name"
                  value={editingOrganizer?.data.name}
                />
                <wa-input
                  label="URL"
                  name="url"
                  value={editingOrganizer?.data.url}
                />
                <wa-input
                  label="Logo"
                  name="logo"
                  value={editingOrganizer?.data.logo}
                />
                <wa-textarea
                  label="Description"
                  name="description"
                  value={editingOrganizer?.data.description || ""}
                />
                <wa-button type="submit">Save</wa-button>
              </form>
            </div>
            <div class="w-1/2 flex flex-col gap-4">
              <h2 class="text-2xl">Image</h2>
              <div class="logo-container">
                <Image
                  src={editingOrganizer?.data.logo || ""}
                  alt={editingOrganizer?.data.name || ""}
                  loading="lazy"
                  width={400}
                  height={200}
                  id="logo-image"
                />
              </div>
            </div>
          </div>
        )
      }
    </div>
  </MainAdmin>
</Layout>

<script>
  const selectOrganizer = document.querySelector("#organizer-item");
  selectOrganizer?.addEventListener("change", e => {
    if (e.target && "value" in e.target) {
      const value = String(e.target.value);
      const url = new URL(window.location.href);
      url.searchParams.set("organizerId", value);
      window.location.href = url.toString();
    }
  });
</script>

<style>
  .logo-container {
    @apply p-4 rounded-lg;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .logo-container.dark-logo {
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>
