---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "../../components/CardGrid.astro";
import {
  formatter,
  getEventDetails,
  getFoodItems,
  getLists,
  getUniqueNeighborhoods,
} from "@utils/collections";

const { year } = Astro.params;

const pizzas = await getFoodItems(year!, "pizza");
const neighborhoods = pizzas ? getUniqueNeighborhoods(pizzas) : [];
const lists = await getLists(Astro.locals?.user?.id);
const eventDetails = await getEventDetails(year!, "pizza");

const dateRange = eventDetails
  ? `${formatter.format(new Date(eventDetails.dateStart))} - ${formatter.format(new Date(eventDetails.dateEnd))} ${eventDetails.year}`
  : undefined;
---

<Layout
  title={`PDX Pizza Week ${year}`}
  description="A fan site celebrating PDX Pizza Week"
>
  <Header />
  <Main
    pageTitle={`Pizza ${year}`}
    neighborhoods={neighborhoods}
    pageDesc={dateRange}
  >
    {pizzas && <CardGrid items={pizzas} lists={lists} />}
  </Main>
  <Footer />
</Layout>
