---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "@components/CardGrid.astro";
import {
  getFoodItems,
  getLists,
  getUniqueNeighborhoods,
} from "@utils/collections";

const { year } = Astro.params;

const burgers = await getFoodItems(year!, "burger");
const neighborhoods = burgers ? getUniqueNeighborhoods(burgers) : [];
const lists = await getLists(Astro.locals?.user?.id);
---

<Layout
  title={`PDX Burger Week ${year}`}
  description="A fan site celebrating PDX Burger Week"
>
  <Header />
  <Main pageTitle={`Burgers ${year}`} neighborhoods={neighborhoods}>
    {burgers && <CardGrid items={burgers} lists={lists} />}
  </Main>
  <Footer />
</Layout>
