---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "../../components/CardGrid.astro";
import {
  getFoodItems,
  getLists,
  getUniqueNeighborhoods,
} from "@utils/collections";

const { year } = Astro.params;

const nachos = await getFoodItems(year!, "nacho");
const neighborhoods = nachos ? getUniqueNeighborhoods(nachos) : [];
const lists = await getLists(Astro.locals?.user?.id);
---

<Layout
  title={`PDX Nacho Week ${year}`}
  description="A fan site celebrating PDX Nacho Week"
>
  <Header />
  <Main pageTitle={`Nachos ${year}`} neighborhoods={neighborhoods}>
    {nachos && <CardGrid items={nachos} lists={lists} />}
  </Main>
  <Footer />
</Layout>
