---
import AddListForm from "@components/AddListForm.astro";
import Header from "@components/Header.astro";
import Lists from "@components/Lists.svelte";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getFoodItemsByIds } from "@utils/collections";
import { eq, list } from "astro:db";
import { db } from "astro:db";

if (!Astro.locals.user) {
  return Astro.redirect("/");
}

const savedLists = await db
  .select()
  .from(list)
  .where(eq(list.userId, Astro.locals.user.id));

const foodIds = savedLists
  .map(list => list.foodIds)
  ?.flat()
  ?.filter(Boolean);

const savedListItems = await getFoodItemsByIds(foodIds as string[]);
---

<Layout title={`My stuff - ${Astro.locals.user.username}`}>
  <Header />
  <Main pageTitle={`My stuff`} hideFilters={true}>
    <div class="flex flex-col gap-6">
      <div class="flex justify-between items-center gap-2">
        <p class="text-xl">
          Welcome back, {Astro.locals.user.username}! Here are your lists.
        </p>
        <wa-popover for="popover__overview">
          <AddListForm />
        </wa-popover>

        <wa-button id="popover__overview">Create a list</wa-button>
      </div>
      {
        savedLists?.length > 0 ? (
          <Lists
            client:load
            savedLists={savedLists}
            savedListItems={savedListItems}
          />
        ) : (
          <div class="flex flex-col gap-2">
            <p>
              You don't have any saved lists yet. Would you like to create one?
            </p>
            <div class="flex w-full md:w-1/2">
              <AddListForm />
            </div>
          </div>
        )
      }
    </div>
  </Main>
</Layout>
