---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import CollectionFilters from "@components/CollectionFilters.astro";
import { Image } from "astro:assets";
import type { EventsItem } from "types";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
  neighborhoods?: string[];
  hideFilters?: boolean;
  eventDetails?: EventsItem;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
  neighborhoods?: string[];
  hideFilters?: boolean;
  eventDetails?: EventsItem;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
const { organizer } = props.eventDetails || {};
const { logo, url, name, description } = organizer || {};
---

<Breadcrumbs />

<main id="main-content">
  <div class="flex justify-between items-start flex-col lg:flex-row">
    <div class="flex-0 flex-grow-0">
      {
        "titleTransition" in props ? (
          <h1>
            {props.pageTitle[0]}
            <span transition:name={props.titleTransition}>
              {props.pageTitle[1]}
            </span>
          </h1>
        ) : (
          <h1>{props.pageTitle}</h1>
        )
      }
      <p>{props.pageDesc}</p>
      <div class="flex flex-col gap-2">
        {
          logo && typeof logo === "string" && (
            <div class="logo-container">
              <Image
                src={logo}
                alt={name || ""}
                width={400}
                height={200}
                id="logo-image"
              />
            </div>
          )
        }
        {url && <a href={url}>{name}</a>}
        {description && <p>{description}</p>}
      </div>
    </div>
    <div class="w-full flex justify-end">
      {
        !props.hideFilters ? (
          <CollectionFilters neighborhoods={props.neighborhoods} />
        ) : null
      }
    </div>
  </div>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full max-w-6xl px-4 pb-4;
  }
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
  .logo-container {
    @apply p-4 rounded-lg;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .logo-container.dark-logo {
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>
