---
import Layout from "@layouts/Layout.astro";
import { FOOD_TYPES } from "../../constants";
import DataForm from "@components/DataForm.svelte";
import Header from "@components/Header.astro";

if (!Astro.locals.user || Astro.locals.user.role !== "admin") {
  return Astro.redirect("/");
}

const foodType = Astro.params.foodType;
---

<Layout>
  <Header activeNav="admin" />
  <header class="p-4">
    <div class="text-base-content max-w-6xl mx-auto">
      <h1 class="text-3xl">Admin</h1>
    </div>
  </header>
  <main class="max-w-6xl mx-auto align-left w-full" card-edit={null}>
    <h2 class="text-2xl">Edit Da Foods</h2>
    <wa-select label="Select Food Type">
      {FOOD_TYPES.map(item => <wa-option value={item}>{item}</wa-option>)}
    </wa-select>

    <h2 class="text-2xl">{foodType}</h2>
    <DataForm client:load />
  </main>
</Layout>

<!-- add food type param to url on selection -->
<script>
  const select = document.querySelector("wa-select");
  select?.addEventListener("change", e => {
    const value = e.target.value;
    window.history.pushState({}, "", `/admin?foodType=${value}`);
  });
</script>
