---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import CardGrid from "../../components/CardGrid.astro";
import {
  getFoodItems,
  getLists,
  getUniqueNeighborhoods,
} from "@utils/collections";

const { year } = Astro.params;

const sandwiches = await getFoodItems(year!, "sandwich");
const neighborhoods = sandwiches ? getUniqueNeighborhoods(sandwiches) : [];
const lists = await getLists(Astro.locals?.user?.id);
---

<Layout
  title={`PDX Sandwich Week ${year}`}
  description="A fan site celebrating PDX Sandwich Week"
>
  <Header />
  <Main pageTitle={`Sandwiches ${year}`} neighborhoods={neighborhoods}>
    {sandwiches && <CardGrid items={sandwiches} lists={lists} />}
  </Main>
  <Footer />
</Layout>
